.about-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.about-title {
  margin: auto;
  width: auto;
}
.about-title h5 {
  width: 100%;
  margin: auto;
}
p {
  width: 75%;
  margin: auto;
}
.edit {
  float: right;
  margin-right: 50px;
  cursor: pointer;
}
.edit i {
  position: absolute;
}
.edit-cross {
  float: right;
  margin-right: 30px;
  cursor: pointer;
}
.edit-cross i {
  position: absolute;
}

@media only screen and (max-width: 508px) {
  .about-container {
    display: flex;
    flex-direction: column;
  }
  .about-title{
    height: auto;
  }
}
