<div class="row">
  <footer>
    <div class="footer-container">
      <div>
        <h5>Secciones</h5>
        <p><a href="app-experience">Exp. Laboral</a> </p>
        <p><a href="">Educación</a></p>
        <p><a href="">Skills</a></p>
        <p><a href="">Proyectos</a></p>
      </div>
      <div>
        <div>
          <h5>Contacto</h5>
          <app-social></app-social>
        </div>
      </div>

    </div>
    <hr>
    <div class="nombre-container">
      <p class="nombre"> Nicolás Hervith | © Argentina Programa 2023</p>
    </div>
  </footer>
</div>
