.header-container {
  width: 95%;
  margin: auto;
}
.navbar-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #0666b4e5;
}
.img-container {
  width: 65%;
}

.header-container img {
  width: 160px;
  height: auto;
}

app-social {
  float: right;
}
.login-btn {
  cursor: pointer;
  margin-right: 20px;
  width: 125px;
  margin-left: 10px;
  padding: 5px;
}

a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 768px) {
  .img-container img {
    width: 120px;
  }
  .login-btn {
    cursor: pointer;
    margin-right: 20px;
    width: 95px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 508px) {
  .img-container {
    width: 100px;
  }
  .img-container img {
    width: 100px;
  }
  .login-btn {
    cursor: pointer;
    margin-right: 20px;
    width: 95px;
    height: 35px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12px;
  }
  app-social {
    margin: auto;
  }
}
