<div class="social-container">
  <div class="container-item">
    <a href="https://www.instagram.com/nicohervith/" target="_blank" rel="noopener">
      <i class="fa-brands fa-instagram"></i>
    </a>
  </div>
  <div class="container-item">
    <a href="https://www.linkedin.com/in/nicol%C3%A1s-hervith-048623203/" target="_blank" rel="noopener">
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
  <div class="container-item">
    <a href="https://twitter.com/Pulseralp" target="_blank" rel="noopener">
      <i class="fa-brands fa-twitter"></i>
    </a>
  </div>
  <div class="container-item">
    <a href="https://github.com/nicohervith" target="_blank" rel="noopener">
      <i class="fa-brands fa-github"></i>
    </a>
  </div>
</div>
