.main-container {
  width: 95%;
  margin: auto;
  background-color: rgb(111, 153, 207);
}
.main-container h3 {
  color: #f1f1f1;
  text-align: center;
  padding-top: 20px;
}
.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: auto;
  gap: 10px;
  padding-bottom: 15px;
}
.project-container div {
  margin: auto;
}
.border {
  width: 110px;
  height: 9px;
  background-color: #1c41bb;
  margin: 25px auto;
  border: 0 !important;
}

img {
  width: 600px !important;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.box {
  max-width: 580px;
  background-color: rgba(241, 241, 241, 0.8);
  padding: 5px;
  cursor: move;
  height: 160px;
}
@media only screen and (max-width: 1024px) {
  .project-container {
    display: grid;
    width: 95%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .project-container {
    display: grid;
    width: 95%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .box {
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 508px) {
  .project-container {
    display: flex;
    flex-direction: column;
  }
}
