.row {
  width: 95%;
  margin: auto;
  background-color: rgb(111, 153, 207);
}

.circulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
    color: #f1f1f1;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
