.card-container {
  background: rgb(9, 9, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(9, 9, 121, 1) 9%,
    rgba(22, 132, 189, 1) 100%
  );
  height: 100vh;
}
.card {
  width: 50%;
  margin: auto;
  top: 80px;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 95%;
  }
}
