<div class="main-container">
  <div class="banner">
    <div class="banner-container">
      <div class="edit"><i class="fa-solid fa-pen-to-square"></i></div>
      <img src="../../../assets/img/background2.jpg" alt="">
      <div class="about-container">
        <div class="profile-img">
          <div class="edit"><i class="fa-solid fa-pen-to-square"></i></div>
          <img src="../../../assets/img/persona.png" alt="">
          <div class="text-container">
            <div class="edit"><i class="fa-solid fa-pen-to-square"></i></div>
            <h5>Nicolás Hervith</h5>
            <h6>Frontend developer</h6>
          </div>
        </div>
        <div class="about-text">
          <app-about></app-about>
        </div>
      </div>
    </div>

  </div>
</div>
