
<div class="row">
  <h3 class="title">Educación</h3>
  <div class="border"></div>

  <div class="col-lg-12">
    <table class="table">
      <tbody>
        <tr *ngFor="let Educacion of educacion">
          <div class="container-experience">
            <div class="nombre-descripcion">
              <td>
                <h4>{{Educacion.nombreE}}</h4>
              </td>
              <td class="experiencia">
                {{Educacion.descripcionE}}
              </td>
              <div class="border-hr"></div>
            </div>
            <div class="botones">
              <td *ngIf="isLogged">
                <button class="btn btn-light edit" routerLink="/editeducacion/{{Educacion!.id}}">
                  <i class="bi bi-pencil">
                  </i>EDITAR
                </button>
              </td>
              <td *ngIf="isLogged"><button class="btn btn-danger delete" (click)="delete(Educacion.id)"><i
                    class="bi bi-trash3"></i>BORRAR</button></td>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-2 add-experience">
    <button type="button" class="btn btn-dark" routerLink="/nuevaeducacion" *ngIf="isLogged">
      Agregar Educación
    </button>
  </div>
</div>
